@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #10101045; */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
    /* filter: sepia(50%); */
    /* filter: grayscale(100%); */
    /* filter: saturate(0%); */
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Rubik", san-serif;
    overflow: auto;
    x-overflow: scroll;
    y-overflow: scroll;
}
html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    white-space: nowrap;
    background-color: #acabb0;
    width: 100%;
    height: 50px;
    max-height: 50px;
    transition: all 0.3s;
    z-index: 25;
    overflow: hidden;
    user-select: none;
}
.navbar div .logo {
    display: inline-block;
    position: relative;
    left: 0;
    /* background-color: #cacacc; */
    color: #ffffff;
    width: auto;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 650;
    padding: 10px;
    transition: all 0.3s;
}
.navbar div .logo:hover {
    color: #3e3f3f;
    transition: all 0.3s;
}
.nav-container {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #cacacc;
    border-radius: 10px 0 0 10px;
    color: inherit;
    width: auto;
    height: 50px;
    max-height: 50px;
    padding: 10px;
    text-decoration: none;
    user-select: none;
    z-index: 50;
    transition: all 0.3s;
} 
.nav-container .nav-link {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 650;
    padding: 0 10px;
    margin-top: 5px;
    text-align: center;
    transition: all 0.3s;
}
.nav-container .link {
    position: relative;
    color: #0a6df5;
    text-decoration: none;
    transition: all 0.3s;
}
.nav-container .link:hover {
    color: #3e3f3f;
    transition: all 0.3s;
}

.icon {
    display: none !important;
    position: fixed;
    z-index: 10;
    transition: all 0.3s;
}

.vertical-line {
    display: inline;
    margin-right: 14px;
    background-color: #e5e5e5;
    color: #e5e5e5;
    font-weight: 500;
    padding: 8px 1px;
    /* width: 2px;
    height: 25px; */
    user-select: none;
}
/* .vertical-line::before {
    content: "|";
    display: inline;
} */

.signup-btn {
    background-color: #4169E1;
    color: #ffffff;
    font-family: "Rubik", san-serif;
    padding: 8px 6px;
    transform: translate(-0px, -2px);
    border: 0;
    border-radius: 4px;
    user-select: none;
    transition: all 0.3s ease-out;
}
.signup-btn:hover {
    background-color: #5169E1;
    transition: all 0.3s;
}
.signup-btn:focus {
    box-shadow: 0 0 0 4px #4169E199;
    transition: all 0.3s;
}

iframe {
    width: 560px;
    max-width: 100%;
    height: 315px;
}

/* .hidden {
    display: none;
}
.hidden-from-desktop {
    display: none;
} */

/* Tablet View */
@media screen and (min-width: 748px) and (max-width: 1024px) {
    .navbar {
        height: 50px;
        max-height: 50px;
        z-index: 25;
        transition: all 0.3s;
    }
    /* .navbar div .logo {} */
    .nav-container {
        display: block;
        position: absolute;
        top: 0;
        border-radius: 0 0 10px 10px;
        width: 100%;
        padding-top: 40px;
        height: 275px;
        max-height: 50px;
        z-index: 10;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        transition: all 0.3s;
    }
    .nav-container .nav-link {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: all 0.3s;
    }
    .nav-link:first-child {
        margin-top: 35px;
        transition: all 0.3s;
    }

    .icon {
        display: inline-block !important;
        position: absolute;
        right: 10px;
        margin-top: 9px;
        background-color: #c7cbcc;
        color: #5a5a5a;
        width: 34px;
        height: 32px;
        border-radius: 4px;
        text-align: center;
        vertical-align: bottom;
        z-index: 50;
        transition: all 0.3s;
    }
    .icon:hover {
        box-shadow: 0 0 0 4px #5a5a5a99;
        transform: scale(0.9);
        transition: all 0.3s;
    }

    .vertical-line {
        display: block;
        margin-top: 14px;
        margin-bottom: 14px;
        margin-right: 0;
        background-color: #e5e5e5;
        color: #e5e5e5;
        font-weight: 500;
        padding: 1px 1px;
        /* width: 25px;
        height: 2px; */
        user-select: none;
    }

    iframe {
        width: 360px;
        max-width: 100%;
        height: 215px;
    }

    /* .hidden-from-mobile {
        display: none;
    } */
}

/* Mobile View */
@media screen and (min-width: 320px) and (max-width: 640px) {
    .navbar {
        height: 50px;
        max-height: 50px;
        z-index: 25;
        transition: all 0.3s;
    }
    /* .navbar div .logo {} */
    .nav-container {
        display: block;
        position: absolute;
        top: 0;
        border-radius: 0 0 10px 10px;
        width: 100%;
        padding-top: 40px;
        height: 275px;
        max-height: 50px;
        z-index: 10;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        transition: all 0.3s;
    }
    .nav-container .nav-link {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: all 0.3s;
    }
    .nav-link:first-child {
        margin-top: 35px;
        transition: all 0.3s;
    }

    .icon {
        display: inline-block !important;
        position: absolute;
        right: 10px;
        margin-top: 9px;
        background-color: #c7cbcc;
        color: #5a5a5a;
        width: 34px;
        height: 32px;
        border-radius: 4px;
        text-align: center;
        vertical-align: bottom;
        z-index: 50;
        transition: all 0.3s;
    }
    .icon:hover {
        box-shadow: 0 0 0 4px #5a5a5a99;
        transform: scale(0.9);
        transition: all 0.3s;
    }

    .vertical-line {
        display: block;
        margin-top: 14px;
        margin-bottom: 14px;
        margin-right: 0;
        background-color: #e5e5e5;
        color: #e5e5e5;
        font-weight: 500;
        padding: 1px 1px;
        /* width: 25px;
        height: 2px; */
        user-select: none;
    }

    iframe {
        width: 360px;
        max-width: 100%;
        height: 215px;
    }

    /* .hidden-from-mobile {
        display: none;
    } */
}


/* Other View */
@media screen and (min-width: 32px) and (max-width: 320px) {
    .navbar {
        height: 50px;
        max-height: 50px;
        z-index: 25;
        transition: all 0.3s;
    }
    /* .navbar div .logo {} */
    .nav-container {
        display: block;
        position: absolute;
        top: 0;
        border-radius: 0 0 10px 10px;
        width: 100%;
        padding-top: 40px;
        height: 275px;
        max-height: 50px;
        z-index: 10;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        transition: all 0.3s;
    }
    .nav-container .nav-link {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: all 0.3s;
    }
    .nav-link:first-child {
        margin-top: 35px;
        transition: all 0.3s;
    }

    .icon {
        display: inline-block !important;
        position: absolute;
        right: 10px;
        margin-top: 9px;
        background-color: #c7cbcc;
        color: #5a5a5a;
        width: 34px;
        height: 32px;
        border-radius: 4px;
        text-align: center;
        vertical-align: bottom;
        z-index: 50;
        transition: all 0.3s;
    }
    .icon:hover {
        box-shadow: 0 0 0 4px #5a5a5a99;
        transform: scale(0.9);
        transition: all 0.3s;
    }

    .vertical-line {
        display: block;
        margin-top: 14px;
        margin-bottom: 14px;
        margin-right: 0;
        background-color: #e5e5e5;
        color: #e5e5e5;
        font-weight: 500;
        padding: 1px 1px;
        /* width: 25px;
        height: 2px; */
        user-select: none;
    }

    iframe {
        width: 360px;
        max-width: 100%;
        height: 215px;
    }

    /* .hidden-from-mobile {
        display: none;
    } */
}

.header {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #454545;
    color: #ffffff;
}
.header h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
.header p {
    color: #efefef;
}

.main {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    /* padding: 10px 10px 1000px 10px; */
    background-color: #efefef;
    /* animation: a 0.5s; */
}
.main p :not(.line-number, .code, .text-shadow, a, span) {
    text-align: center;
    line-height: 1.5em;
    color: #5a5b5b;
}
.main a {
    line-height: 1.5em;
}
/* .main button {
    position: relative;
    text-align: left;
    justify-content: left;
} */

/* @keyframes a {
    0% {
        transform: translate(-250px, -0);
        opacity: 0;
    }
    100% {
        transform: translate(-0px, -0);
        opacity: 1;
    }
} */

.footer {
    display: block;
    position: relative;
    /* bottom: 0 !important; */
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #3b3c3c;
    z-index: 3;
}
.footer p {
    color: #efefef;
}
.footer input {
    position: relative;
    justify-content: right;
}
.footer div {
    text-align: center;
    margin: 5px 0 5px 0;
    font-size: 1.2rem;
    color: #ffffff;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 2.3rem;
}
h4 {
    font-size: 2.2rem;
}
h5 {
    font-size: 2.1rem;
}
h6 {
    font-size: 2rem;
}
p {
    font-size: 1.2rem;
    /* color: #efefef; */
    color: #5a5b5b;
}
a {
    text-decoration: none !important;
}

::selection {
    /* background-color: #0099FF99; */
    /* background-color: #264EFF99; */
    background-color: #4B6CFF99;
    color: currentColor;
}

/* .text-shadow {
    text-shadow: 0.5px 0.5px #ffffff;
} */

[display="block"] {
    display: block;
}
[display="inline-block"] {
    display: inline-block;
}
.line-number {
    display: block;
    position: relative;
    float: left;
    /* clear: left; */
    text-align: center;
    background-color: #f1f1f1;
    /* height: 100%;
    padding: 2px 6px; */
    margin-right: 5px;
    font-size: 0.8rem;
    color: #5a5b5b;
    user-select: none;
}
/* .line-number::after {
    content: ".";
} */
.code {
    display: inline-block;
    position: relative;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    word-break: break-all;
    width: 350px;
    max-width: 100%;
    overflow: auto;
    y-overflow: hidden;
    x-overflow: scroll;
    font-family: 1.2rem "Rubik", monospace;
    background-color: #dadada/*#b3b1b3*/;
    padding: 6px 8px;
    border: 1.6px solid #9b9b9b;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #a4a4a4;
    margin-top: 5px;
    transition: all 0.3s;
}

.code::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.code::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border: 1px solid #9b9b9b;
    border-radius: 2px;
}
.code::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 2px;
}
.code::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
    /* border: 1px solid #4169E1; */
}
.code::-webkit-scrollbar-thumb:active {
    border: 1px solid #4169E1;
}

/* .code:hover {
    transform: scale(1.025);
    transition: all 0.4s left transform ease-out;
} */

body::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
    /* width: 10px;
    height: 10px; */
}
body::-webkit-scrollbar-track {
    background: #f1f1f1;
    border: 1px solid #9b9b9b;
    border-radius: 2px;
}
body::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 2px;
}
body::-webkit-scrollbar-thumb:hover {
    background: #555555;
    /* border: 1px solid #4169E1; */
}
body::-webkit-scrollbar-thumb:active {
    border: 1px solid #4169E1;
}

[wrap="break-word"] {
    display: inline-block;
    flex-wrap: wrap;
    word-break: break-word;
}
[highlight-color="purple"] {
    color: #a32b53;
}
[highlight-color="dark-orange"] {
    color: #c27618;
}
[highlight-color="dark-blue"] {
    color: #222281;
}
[highlight-color="royal-blue"] {
    color: #5074e0;
}
[highlight-color="dark-green"] {
    color: #3e8a1a;
}
[highlight-color="green"] {
    color: #49b118;
}
[highlight-color="gray"] {
    color: #868686;
}
[highlight-color="light-dark"] {
    color: #6f6f6f;
}
[highlight-color="dark"] {
    color: #2a2a2a;
}

[text-align="left"] {
    text-align: left !important;
}
[text-align="center"] {
    text-align: center !important;
}
[text-align="right"] {
    text-align: right !important;
}


/* Mobile View */
@media screen and (min-width: 320px) and (max-width: 640px) {
    .code {
        width: 300px;
        max-width: 100%;
    }
}

/* Other View */
@media screen and (min-width: 32px) and (max-width: 320px) {
    .code {
        width: 300px;
        max-width: 100%;
    }
}

.email {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    color: #ffffff;
    border: 3px solid #efefef;
    /* border: 3px solid #28a4ec; */
    border-radius: 5px;
    width: auto;
    max-width: 100%;
    padding: 10px 20px;
    margin: 10px;
    transition: all 0.3s ease;
}
.email::placeholder {
    color: #c2c4c5;
    font-weight: 600;
}
.email:focus-within {
    border: 3px solid #ff9b00;
    /* border: 3px solid #00C8FF; */
    transition: all 0.3s ease;
}
.email:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, #FC466B 0%, #3F5EFB 100%);
    transition: all 0.3s ease;
}
.email:focus {
    outline: none;
}
.password {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    color: #ffffff;
    border: 3px solid #efefef;
    border-radius: 5px;
    width: auto;
    max-width: 100%;
    padding: 10px 20px;
    margin: 10px;
    transition: all 0.3s ease;
}
.password::placeholder {
    color: #c2c4c5;
    font-weight: 600;
}
.password:focus-within {
    border: 3px solid #ff9b00;
    /* border: 3px solid #00C8FF; */
    transition: all 0.3s ease;
}
.password:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, #FC466B 0%, #3F5EFB 100%);
    transition: all 0.3s ease;
}
.password:focus {
    outline: none;
}

.primary-btn {
    background-color: #4169E1;
    color: #ffffff;
    font-family: "Rubik", san-serif;
    padding: 10px 10px;
    margin: 10px;
    border: 0;
    border-radius: 4px;
    user-select: none;
    transition: margin, all 0.3s ease-out;
}
.primary-btn:hover {
    background-color: #5169E1;
    transition: all 0.3s;
}
.primary-btn:focus {
    box-shadow: 0 0 0 4px #4169E199;
    transition: all 0.3s;
}
.back-arrow {
    /* display: none;
    opacity: 0; */
    transition: all 0.3s;
}
.primary-btn:hover .back-arrow::after {
    content: ">";
    display: inline-block;
    animation: show-arrow 0.3s;
    transition: all 0.3s;
}

@keyframes show-arrow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        /* padding-right: 2.5px;
        margin-left: 2.5px; */
    }
}

/* .border-radius {
    border-radius: 5em / 5em !important;
} */

.a-link {
    color: #0091FF;
    transition: all 0.3s;
}
.a-link:hover {
    color: #077BD3;
    /* font-weight: 600; */
    transition: all 0.3s;
}
/* .a-link:hover . {
    display: inline-block;
    animation: ok 0.3s;
    transition: all 0.3s;
} */
.gray-background-link {
    transition: all 0.3s;
}
.a-link:hover .gray-background-link::after {
    content: "(" attr(link) ")";
    display: inline-block;
    position: absolute;
    /* transform: translate(-5em, 1.5em); */
    word-break: break-word;
    border: 0;
    border-radius: 4px;
    /* padding: 0.05em 0.25em; */
    /* background-color: #91919145; */
    /* background-color: #f5f5f5; */
    background-color: #d6d6d6;
    z-index: 10;
}
.gray-background-link-text {
    transition: all 0.3s;
}
.gray-background-link-text::after {
    content: "" attr(link-text);
    position: relative;
    border: 0;
    border-radius: 4px;
    /* padding: 0.05em 0.25em; */
    background-color: #91919145;
}

.circle {
    display: inline-block;
    position: relative;
    width: 8px;
    height: 8px;
    margin: 0 15px 0 15px;
    border-radius: 50%;
    background-color: gray;
    color: gray;
}
.rectangle {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 8px;
    margin: 0;
    background-color: gray;
    transition: all 0.3s ease-out;
}

.line-250 {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 5px);
    width: 100%;
    max-width: 8px;
    height: 8px;
    margin: 0/*5px*/;
    border-radius: 50%;
    background-color: gray;
    color: gray;
}
.line-250::before {
    content: "";
    display: inline-block;
    position: absolute;
    transform: translate(-0, -15px);
    left: 0;
    width: 100%;
    max-width: 250px;
    height: 8px;
    margin: 15px;
    background-color: gray;
}
.line-250::after {
    content: "";
    display: inline-block;
    position: absolute;
    transform: translate(-0, -15px);
    right: 0;
    width: 100%;
    max-width: 250px;
    height: 8px;
    margin: 15px;
    background-color: gray;
}

.space {
    padding-bottom: 2px;
}

/* Tablet View */
@media screen and (min-width: 748px) and (max-width: 1024px) {
    .rectangle {
        width: 100%;
        max-width: 150px;\
        transition: all 0.3s ease-out;
    }
}
@media screen and (min-width: 640px) and (max-width: 748px) {
    .rectangle {
        width: 100%;
        max-width: 150px;
        transition: all 0.3s ease-out;
    }
}

/* Mobile View */
@media screen and (min-width: 320px) and (max-width: 640px) {
    .email {
        width: auto;
        max-width: 100%;
        padding: 10px 10px;
        margin: 5px;
    }
    .password {
        width: auto;
        max-width: 100%;
        padding: 10px 10px;
        margin: 5px;
    }

    .primary-btn {
        margin: 5px;
        transition: margin, all 0.3s ease-out;
    }

    .rectangle {
        width: 100%;
        max-width: 100px;
        transition: all 0.3s ease-out;
    }

    .space {}
}

/* Other View */
@media screen and (min-width: 32px) and (max-width: 320px) {
    .email {
        width: auto;
        max-width: 100%;
        padding: 10px 10px;
        margin: 5px;
    }
    .password {
        width: auto;
        max-width: 100%;
        padding: 10px 10px;
        margin: 5px;
    }

    .primary-btn {
        margin: 5px;
        transition: margin, all 0.3s ease-out;
    }

    .rectangle {
        width: 100%;
        max-width: 100px;
        transition: all 0.3s ease-out;
    }

    .space {}
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-30 {
  font-size: 30px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-1-rem {
  font-size: 2.1rem;
}
.material-icons.md-2-rem {
  font-size: 2.5rem;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
