@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #10101045; */
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    /* height: 100%; */
    height: 100vh;
    font-family: "Rubik", san-serif;
    overflow: auto;
    /* x-overflow: hidden; */
    x-overflow: scroll;
    y-overflow: scroll;
}
html {
    scroll-behavior: smooth;
}

.navbar {
    /* display: inline-block; */
    display: flex;
    position: sticky;
    top: 0;
    white-space: nowrap;
    background-color: #acabb0;
    /* margin: 0 auto;
    padding: 0 20px; */
    width: 100%;
    max-height: 50px;
    height: 50px;
    transition: all 0.3s;
    z-index: 25;
    overflow: hidden;
    user-select: none;
}
.navbar div .logo {
    /* display: block; */
    display: inline-block;
    position: relative;
    left: 0;
    /* float: left; */
    /* white-space: nowrap;
    flex-shrink: 0; */
    /* background-color: #cacacc;*/
    color: #ffffff;
    /* width: auto; */
    /* width: 100%; */
    width: auto;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 650;
    padding: 10px;
    transition: all 0.3s;
}
.navbar div .logo:hover {
    color: #3e3f3f;
    transition: all 0.3s;
}
/* .nav-container {
    display: block;
    position: relative;
    float: right;
    /* clear: right; /
    background-color: #cacacc;
    color: inherit;
    width: auto;
    height: 100%;
    padding: 10px;
    /* margin-right: 10px; /
    text-decoration: none;
    z-index: 6;
} */
/* .navbar .nav-link {
    font-size: 1.1rem;
} */
/* .navbar .nav-link span {
    margin-top: 5px !important;
} */
/* .navbar .link {
    position: relative;
    color: #0a6df5;
    text-decoration: none;
    margin-top: -5px !important;
} */
.nav-container {
    /* display: block;
    position: relative; */
    display: inline-block;
    /* position: relative */
    position: absolute;
    top: 0;
    right: 0;
    /* float: right; */
    /* clear: right; */
    background-color: #cacacc;
    color: inherit;
    width: auto;
    /* height: 100%; */
    max-height: 50px;
    height: 50px;
    padding: 10px;
    /* margin-right: 10px; */
    text-decoration: none;
    user-select: none;
    z-index: 50;
    transition: all 0.3s;
} 
.nav-container .nav-link {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 650;
    /* padding: 10px; */
    padding: 0 10px;
    margin-top: 5px;
    text-align: center;
    transition: all 0.3s;
}
.nav-container .link {
    position: relative;
    color: #0a6df5;
    text-decoration: none;
    /* margin-top: -5px !important; */
    transition: all 0.3s;
}
.nav-container .link:hover {
    color: #3e3f3f;
    transition: all 0.3s;
}

.icon {
    display: none !important;
    position: fixed;
    z-index: 10;
    transition: all 0.3s;
}

iframe {
    max-width: 100%;
    width: 560px;
    height: 315px;
}

/* Tablet View */
@media screen and (min-width: 748px) and (max-width: 1024px) {
    .navbar {
        max-height: 50px;
        height: 50px;
        z-index: 25;
        transition: all 0.3s;
    }
    /* .navbar div .logo {} */
    .nav-container {
        display: block;
        /* position: absolute; */
        position: absolute;
        top: 0;
        /* top: 50px; */
        width: 100%;
        /* max-height: 140px; */
        padding-top: 40px;
        max-height: 50px;
        height: 200px;
        z-index: 10;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        transition: all 0.3s;
    }
    .nav-container .nav-link {
        /* display: block; */
        width: 100%;
        /* text-align: center; */
        margin-top: 10px;
        margin-bottom: 10px;
        transition: all 0.3s;
    }
    .nav-link:first-child {
        margin-top: 35px;
        transition: all 0.3s;
    }

    .icon {
        display: inline-block !important;
        position: absolute;
        right: 10px;
        /* right: 20px; */
        margin-top: 9px;
        background-color: #c7cbcc;
        color: #5a5a5a;
        width: 34px;
        height: 32px;
        border-radius: 4px;
        text-align: center;
        vertical-align: bottom;
        z-index: 50;
        transition: all 0.3s;
    }
    .icon:hover {
        box-shadow: 0 0 0 4px #5a5a5a99;
        transform: scale(0.9);
        transition: all 0.3s;
    }

    iframe {
        max-width: 100%;
        width: 360px;
        height: 215px;
    }
}

/* Mobile View */
@media screen and (min-width: 320px) and (max-width: 640px) {
    .navbar {
        max-height: 50px;
        height: 50px;
        z-index: 25;
        transition: all 0.3s;
    }
    /* .navbar div .logo {} */
    .nav-container {
        display: block;
        /* position: absolute; */
        position: absolute;
        top: 0;
        /* top: 50px; */
        width: 100%;
        /* max-height: 140px; */
        padding-top: 40px;
        max-height: 50px;
        height: 200px;
        z-index: 10;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        transition: all 0.3s;
    }
    .nav-container .nav-link {
        /* display: block; */
        width: 100%;
        /* text-align: center; */
        margin-top: 10px;
        margin-bottom: 10px;
        transition: all 0.3s;
    }
    .nav-link:first-child {
        margin-top: 35px;
        transition: all 0.3s;
    }

    .icon {
        display: inline-block !important;
        position: absolute;
        right: 10px;
        /* right: 20px; */
        margin-top: 9px;
        background-color: #c7cbcc;
        color: #5a5a5a;
        width: 34px;
        height: 32px;
        border-radius: 4px;
        text-align: center;
        vertical-align: bottom;
        z-index: 50;
        transition: all 0.3s;
    }
    .icon:hover {
        box-shadow: 0 0 0 4px #5a5a5a99;
        transform: scale(0.9);
        transition: all 0.3s;
    }

    iframe {
        max-width: 100%;
        width: 360px;
        height: 215px;
    }
}


/* Other View */
@media screen and (min-width: 32px) and (max-width: 320px) {
    .navbar {
        max-height: 50px;
        height: 50px;
        z-index: 25;
        transition: all 0.3s;
    }
    /* .navbar div .logo {} */
    .nav-container {
        display: block;
        /* position: absolute; */
        position: absolute;
        top: 0;
        /* top: 50px; */
        width: 100%;
        /* max-height: 140px; */
        padding-top: 40px;
        max-height: 50px;
        height: 200px;
        z-index: 10;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        transition: all 0.3s;
    }
    .nav-container .nav-link {
        /* display: block; */
        width: 100%;
        /* text-align: center; */
        margin-top: 10px;
        margin-bottom: 10px;
        transition: all 0.3s;
    }
    .nav-link:first-child {
        margin-top: 35px;
        transition: all 0.3s;
    }

    .icon {
        display: inline-block !important;
        position: absolute;
        right: 10px;
        /* right: 20px; */
        margin-top: 9px;
        background-color: #c7cbcc;
        color: #5a5a5a;
        width: 34px;
        height: 32px;
        border-radius: 4px;
        text-align: center;
        vertical-align: bottom;
        z-index: 50;
        transition: all 0.3s;
    }
    .icon:hover {
        box-shadow: 0 0 0 4px #5a5a5a99;
        transform: scale(0.9);
        transition: all 0.3s;
    }

    iframe {
        max-width: 100%;
        width: 360px;
        height: 215px;
    }
}

.header {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #454545;
    color: #ffffff;
}
.header h1, h2, h3, h4, h5, h6 {
    text-align: center;
    /* margin-top: 20px; */
}

.main {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    /* height: 100%; */
    padding: 10px;
    background-color: #efefef;
}
.main p {
    text-align: center;
    color: #5a5b5b;
}
/* .main button {
    position: relative;
    text-align: left;
    justify-content: left;
} */

.footer {
    display: block;
    position: relative;
    /* bottom: 0 !important; */
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #3b3c3c;
    z-index: 3;
}
.footer input {
    position: relative;
    justify-content: right;
}
.footer div {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: #ffffff;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 2.3rem;
}
h4 {
    font-size: 2.2rem;
}
h5 {
    font-size: 2.1rem;
}
h6 {
    font-size: 2rem;
}
p {
    font-size: 1.2rem;
    color: #efefef;
}
a {
    text-decoration: none !important;
}
[display="block"] {
    display: block;
}
[display="inline-block"] {
    display: inline-block;
}
.line-number {
    display: block;
    position: relative;
    float: left;
    /* clear: left; */
    background-color: #f1f1f1;
    /* height: 100%;
    padding: 2px 6px; */
    margin-right: 5px;
    font-size: 0.8rem;
    color: #efefef;
    user-select: none;
}
/* .line-number::after {
    content: ".";
} */
.code {
    display: inline-block;
    position: relative;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    /* word-break: break-word; */
    word-break: break-all;
    /* white-space: normal; */
    /* white-space: nowrap;
    text-overflow: ellipsis;
    hyphens: auto; */
    /* width: auto; */
    max-width: 100%;
    width: 350px;
    overflow: auto;
    y-overflow: hidden;
    x-overflow: scroll;
    background-color: #dadada/*#b3b1b3*/;
    padding: 6px 8px;
    border: 1.6px solid #9b9b9b;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #a4a4a4;
    margin-top: 5px;
}

.code::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.code::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border: 1px solid #9b9b9b;
    border-radius: 2px;
}
.code::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 2px;
}
.code::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
    /* border: 1px solid #4169E1; */
}
.code::-webkit-scrollbar-thumb:active {
    border: 1px solid #4169E1;
}

body::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
    /* width: 10px;
    height: 10px; */
}
body::-webkit-scrollbar-track {
    background: #f1f1f1;
    border: 1px solid #9b9b9b;
    border-radius: 2px;
}
body::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 2px;
}
body::-webkit-scrollbar-thumb:hover {
    background: #555555;
    /* border: 1px solid #4169E1; */
}
body::-webkit-scrollbar-thumb:active {
    border: 1px solid #4169E1;
}

[wrap="break-word"] {
    display: inline-block;
    flex-wrap: wrap;
    word-break: break-word;
}
[highlight-color="purple"] {
    color: #a32b53;
}
[highlight-color="dark-orange"] {
    color: #c27618;
}
[highlight-color="dark-blue"] {
    color: #222281;
}
[highlight-color="royalblue"] {
    color: #5074e0;
}
[highlight-color="green"] {
    color: ;
}
[highlight-color="gray"] {
    color: #868686;
}
[highlight-color="light-dark"] {
    color: #6f6f6f;
}
[highlight-color="dark"] {
    color: #2a2a2a;
}

[text-align="left"] {
    text-align: left !important;
}
[text-align="center"] {
    text-align: center !important;
}
[text-align="right"] {
    text-align: right !important;
}


/* Mobile View */
@media screen and (min-width: 320px) and (max-width: 640px) {
    .code {
        max-width: 100%;
        width: 300px;
    }
}

/* Other View */
@media screen and (min-width: 32px) and (max-width: 320px) {
    .code {
        max-width: 100%;
        width: 300px;
    }
}

.email {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    color: #ffffff;
    border: 3px solid #efefef;
    /* border: 3px solid #28a4ec; */
    border-radius: 5px;
    max-width: 100%;
    width: auto;
    padding: 10px 20px;
    margin: 10px;
    transition: all 0.3s ease;
}
.email::placeholder {
    color: #c2c4c5;
    font-weight: 600;
}
.email:focus-within {
    border: 3px solid #ff9b00;
    transition: all 0.3s ease;
}
.email:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, #FC466B 0%, #3F5EFB 100%);
    transition: all 0.3s ease;
}
.email:focus {
    outline: none;
}
.password {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    color: #ffffff;
    border: 3px solid #efefef;
    border-radius: 5px;
    max-width: 100%;
    width: auto;
    padding: 10px 20px;
    margin: 10px;
    transition: all 0.3s ease;
}
.password::placeholder {
    color: #c2c4c5;
    font-weight: 600;
}
.password:focus-within {
    border: 3px solid #ff9b00;
    transition: all 0.3s ease;
}
.password:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, #FC466B 0%, #3F5EFB 100%);
    transition: all 0.3s ease;
}
.password:focus {
    outline: none;
}

.primary-btn {
    background-color: #4169E1;
    color: #ffffff;
    padding: 10px 10px;
    margin: 10px;
    border: 0;
    border-radius: 4px;
    user-select: none;
    transition: all 0.3s:
}
.primary-btn:hover {
    background-color: #5169E1;
    transition: all 0.3s:
}
.primary-btn:focus {
    box-shadow: 0 0 0 4px #4169E199;
    transition: all 0.3s:
}

.space {
    padding-bottom: 2px;
}

/* Mobile View */
@media screen and (min-width: 320px) and (max-width: 640px) {
    .email {
        max-width: 100%;
        width: auto;
        padding: 10px 10px;
        margin: 5px;
    }
    .password {
        max-width: 100%;
        width: auto;
        padding: 10px 10px;
        margin: 5px;
    }

    .primary-btn {
        margin: 5px;
    }

    .space {}
}

/* Other View */
@media screen and (min-width: 32px) and (max-width: 320px) {
    .email {
        max-width: 100%;
        width: auto;
        padding: 10px 10px;
        margin: 5px;
    }
    .password {
        max-width: 100%;
        width: auto;
        padding: 10px 10px;
        margin: 5px;
    }

    .primary-btn {
        margin: 5px;
    }

    .space {}
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-30 {
  font-size: 30px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-1-rem {
  font-size: 2.1rem;
}
.material-icons.md-2-rem {
  font-size: 2.5rem;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
